body{
    background-color: snow;
}

.counter-component {
  padding: 20px;
  text-align: center;
}


.counter-component h1 {
    color: aqua;
    font-weight: bold;
}

.counter-component h2 {
    color: black;
}

.button {
    display: flex;
    margin: 20px 0;
    gap: 10px;
    justify-content: center;
}

.incress {
    background-color: green;
}
.decress {
    background-color: red;
}
.reset {
    background-color: orange;
}
